/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.25em 1.5625em -1.375em #000;
  box-shadow: 0 0.25em 1.5625em -1.375em #000;
  z-index: 2;
}
header .header-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
header .header-container .logo {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .header-container .logo h1 {
  font-size: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  text-shadow: 1px 1px 0.625em #0466c8;
  color: #212529;
}
header .header-container .logo h1::first-letter {
  color: #0466c8;
}
header .menu {
  height: 5em;
}
header .menu nav {
  height: 100%;
}
header .menu nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header .menu nav ul li {
  height: 100%;
  margin: 0 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
}
header .menu nav ul li a {
  color: #212529;
  font-weight: bold;
}
header .menu nav ul li a:hover {
  color: #0466c8;
}
header .menu nav ul li a:hover::before {
  content: "";
  width: 100%;
  height: 0.25em;
  border-radius: 0.75em;
  background-color: #0466c8;
  position: absolute;
  top: 0;
  left: 0;
}
header .menu nav ul .menu-select a {
  color: #0466c8;
}
@media (max-width: 800px) {
  header .menu {
    width: 0;
    position: fixed;
    overflow: hidden;
    top: 5em;
    height: 100vh;
    background-color: #ffffff;
    -webkit-box-shadow: 0.625em 0 1.25em -1.5625rem #000;
    box-shadow: 0.625em 0 1.25em -1.5625rem #000;
    left: 0;
    -webkit-transition: 0.8s ease all;
    -o-transition: 0.8s ease all;
    transition: 0.8s ease all;
  }
  header .menu.show-menu {
    width: 18.75em;
  }
  header .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .menu nav ul li {
    max-width: 12.5em;
    height: 3.125em;
  }
  header .menu nav ul li a {
    padding: 0.3125em;
    border-radius: 0.1875em;
  }
  header .menu nav ul li a:hover {
    color: #ffffff;
    background-color: #212529;
  }
  header .menu nav ul li a:hover::before {
    height: 0;
  }
}
header #icon-menu {
  color: #0466c8;
  width: 3.125em;
  height: 3.125em;
  background-color: #e9ecef;
  font-size: 1.25em;
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
header #icon-menu:hover {
  opacity: 0.8;
}
@media (max-width: 800px) {
  header #icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header div#ctn-icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div#ctn-icon-search i {
  font-size: 1.25em;
}

header {
  z-index: 10;
}
header .header-container div#ctn-icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container div#ctn-icon-search i {
  font-size: 1.25em;
  cursor: pointer;
  margin-right: 0.625em;
  transition: 0.3s ease;
}
header .header-container div#ctn-icon-search i:hover {
  color: #0466c8;
}

#ctn-bars-search {
  width: 100%;
  position: fixed;
  top: -0.625em;
  background-color: #f8f9fa;
  padding: 1.25em;
  z-index: 9;
  transition: 0.6s;
}
#ctn-bars-search input {
  display: block;
  width: 90%;
  margin: auto;
  font-size: 1.125em;
  outline: none;
}

#Box-search {
  position: fixed;
  top: 9.0625em;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #f8f9fa;
  z-index: 8;
  list-style: none;
  display: none;
}
#Box-search li {
  padding-left: 0.625em;
  padding-bottom: 0.75em;
}
#Box-search a {
  color: #212529;
  width: 90%;
}
#Box-search a:hover {
  opacity: 0.8;
}

#cover-ctn-search {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 7;
  display: none;
}

.container-nav {
  width: 100%;
  height: 50vh;
  margin-top: 5em;
  position: relative;
  background: url(../../src/media/aside-img1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(18, 194, 233, 0.7);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(246, 79, 89, 0.7), rgba(196, 113, 237, 0.7), rgba(18, 194, 233, 0.7));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(246, 79, 89, 0.7), rgba(196, 113, 237, 0.7), rgba(18, 194, 233, 0.7));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-nav .container-nav-content {
  margin: auto;
  max-width: 50em;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
  letter-spacing: 0.0625em;
}
.container-nav .container-nav-content h1 {
  font-size: 2.5em;
}
.container-nav .container-nav-content p {
  font-size: 1.0625em;
}

.container-post {
  width: 90%;
  margin: 0 auto;
}
.container-post input[type=radio] {
  display: none;
}
.container-post .container-category {
  width: 100%;
  padding: 0.75em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;
}
.container-post .container-category label {
  color: #ffffff;
  padding: 0.375em;
  background-color: #0466c8;
  font-size: 1.25em;
  margin-left: 1.25em;
  cursor: pointer;
  border-radius: 0.3125em;
}
.container-post .container-category label:hover {
  opacity: 0.8;
}
.container-post [value=HTML],
.container-post [value=CSS],
.container-post [value=JS],
.container-post [value=PHP],
.container-post [value=other] {
  -webkit-animation: show-hidden 2s ease;
  animation: show-hidden 2s ease;
}
.container-post [value=all]:checked ~ .posts .post[data-category] {
  display: block;
}
.container-post [value=HTML]:checked ~ .posts .post:not([data-category~=HTML]),
.container-post [value=CSS]:checked ~ .posts .post:not([data-category~=CSS]),
.container-post [value=JS]:checked ~ .posts .post:not([data-category~=JS]),
.container-post [value=PHP]:checked ~ .posts .post:not([data-category~=PHP]),
.container-post [value=other]:checked ~ .posts .post:not([data-category~=other]) {
  display: none;
}
.container-post [value=all]:checked ~ .container-category [for=all],
.container-post [value=HTML]:checked ~ .container-category [for=HTML],
.container-post [value=CSS]:checked ~ .container-category [for=CSS],
.container-post [value=JS]:checked ~ .container-category [for=JS],
.container-post [value=PHP]:checked ~ .container-category [for=PHP],
.container-post [value=other]:checked ~ .container-category [for=other] {
  background-color: #ffffff;
  color: #0466c8;
}
.container-post .posts {
  background-color: #f8f9fa;
  border-radius: 0.75em;
  width: 100%;
  display: grid;
  gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.25em;
  padding: 1.25em;
}
@media (max-width: 1024px) {
  .container-post .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 635px) {
  .container-post .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container-post .posts .post {
  width: 18.75em;
  background-color: #ffffff;
  box-shadow: 0 0 1.25em -1.25em #000;
  border-radius: 0.375em;
  overflow: hidden;
  padding: 1.25em;
  -webkit-animation: a 0.3s ease;
  animation: a 0.3s ease;
}
@-webkit-keyframes a {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes a {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.container-post .posts .post .ctn-img {
  width: 100%;
}
.container-post .posts .post .ctn-img img {
  border-radius: 0.375em;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.container-post .posts .post h2 {
  color: #212529;
  font-size: 1.125em;
  margin-top: 1.25em;
  padding: 0 1.25esm;
}
.container-post .posts .post span {
  color: #212529;
  display: block;
  margin-top: 0.75em;
  padding: 0 1.25em;
}
.container-post .posts .post ul.ctn-tag {
  color: #212529;
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.3125em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.container-post .posts .post ul.ctn-tag li {
  font-size: 0.875em;
  color: #212529;
  font-weight: bold;
  border-radius: 0.25em;
  background-color: #DADFE1;
  padding: 0.375em 0.625em;
  cursor: default;
}
.container-post .posts .post a {
  margin-top: 1.25em;
  background-color: #0466c8;
  color: #ffffff;
  border-radius: 0.375em;
  outline: none;
  font-size: 1rem;
  border: none;
  padding: 0.3125em;
  cursor: pointer;
}
.container-post .posts .post a:hover {
  opacity: 0.9;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
footer {
  width: 100%;
  padding: 2.5em 0;
}
footer .footer-logo {
  margin: auto;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .footer-logo h1 {
  font-size: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  text-shadow: 1px 1px 0.625em #0466c8;
  color: #212529;
}
footer .footer-logo h1::first-letter {
  color: #0466c8;
}
footer .social-media {
  text-align: center;
}
footer .social-media .fab {
  padding: 0.3125em;
  border-radius: 50%;
  -webkit-transition: 0.6s ease-in all;
  -o-transition: 0.6s ease-in all;
  transition: 0.6s ease-in all;
}
footer .social-media .f:hover {
  color: #ffffff;
  background-color: #0000ff;
}
footer .social-media .i:hover {
  color: #ffffff;
  background: #d6249f;
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .social-media .t:hover {
  color: #ffffff;
  background-color: #00acee;
}
footer .social-media a {
  color: #212529;
  font-size: 1.895em;
  margin-left: 0.625em;
}
footer hr {
  outline: none;
  color: #212529;
  width: 90%;
  margin: 0 auto;
}
footer h4 {
  margin-top: 0.5em;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.75em;
}
body::-webkit-scrollbar-thumb {
  background-color: #0466c8;
  border-radius: 0.75em;
}

@media (max-width: 700px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

/*# sourceMappingURL=blog.css.map */
