$tag:#DADFE1;
$white:#ffffff;
$bg-article:#f8f9fa;
$black:#000;
$leatter:#212529;
$red:#d00000;
$blue:#0466c8;

@mixin button($bgcolor,$color) {
    margin-top: 1.25em;
    background-color: $blue;
    color: $white;
    border-radius: .375em;
    outline: none;
    font-size:1rem;
    border: none;
    padding: .3125em;
    cursor: pointer;
    &:hover{
        opacity: .9;
    }
}

.container-post{
    width: 90%;
    margin: 0 auto;

// container & filtre categories 
 input[type='radio']{
    display: none;
    }

.container-category{
    width: 100%;
    padding: .75em;
    display: flex;
    flex-wrap: wrap;
    
    gap: 1.25em;
   
    label{
        color: $white;
        padding:.375em;
        background-color: $blue;
        font-size: 1.25em;
        margin-left: 1.25em;
        cursor: pointer;
        border-radius: .3125em;
        &:hover{
            opacity: .8;
        }
    }
}
[value="HTML"],
[value="CSS"],
[value="JS"],
[value="PHP"],
[value="other"]{
    -webkit-animation: show-hidden 2s ease;
            animation: show-hidden 2s ease;
}

[value="all"]:checked ~ .posts .post[data-category]{
        display: block;
    }


// system filtre 
[value="HTML"]:checked ~ .posts .post:not([data-category ~="HTML"]),
[value="CSS"]:checked ~ .posts .post:not([data-category ~="CSS"]),
[value="JS"]:checked ~ .posts .post:not([data-category ~="JS"]),
[value="PHP"]:checked ~ .posts .post:not([data-category ~="PHP"]),
[value="other"]:checked ~ .posts .post:not([data-category ~="other"])
{
        display: none;
    }

 
[value="all"]:checked ~ .container-category [for="all"],
[value="HTML"]:checked ~ .container-category [for="HTML"],
[value="CSS"]:checked ~ .container-category [for="CSS"],
[value="JS"]:checked ~ .container-category [for="JS"],
[value="PHP"]:checked ~ .container-category [for="PHP"],
[value="other"]:checked ~ .container-category [for="other"]
{
     background-color: $white;
     color: $blue;
 }




    .posts{
        background-color:$bg-article ;
        border-radius: .75em;
        width: 100%;
        display: grid;
        gap: 1.25em;
        grid-template-columns: repeat(3,1fr);
        margin-top: 1.25em;
        padding: 1.25em;

        @media (max-width:1024px) {
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width:635px) {
           
            grid-template-columns: repeat(1,1fr);
        }
        .post{
            width: 18.75em;
            background-color:$white;
            box-shadow: 0 0 1.25em -1.25em $black ;
            border-radius: .375em;
            overflow: hidden;
            padding: 1.25em;
                            -webkit-animation: a .3s ease;


                                animation: a .3s ease;


                                @-webkit-keyframes a {
                                    0%{
                                        -webkit-transform: scale(0);
                                                transform: scale(0);
                                    }
                                    100%{
                                        -webkit-transform: scale(1);
                                                transform: scale(1);
                                    }
                                }


                                @keyframes a {
                                    0%{
                                        -webkit-transform: scale(0);
                                                transform: scale(0);
                                    }
                                    100%{
                                        -webkit-transform: scale(1);
                                                transform: scale(1);
                                    }
                                }
            .ctn-img{
                width: 100%;
                img{
                    border-radius: .375em;
                    width:100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
            h2{
                    color: $leatter;
                    font-size: 1.125em;
                    margin-top: 1.25em;
                    padding: 0 1.25esm;
            }
            span{
                    color: $leatter;
                    display: block;
                    margin-top: .75em;
                    padding: 0 1.25em;
            }
            ul.ctn-tag{
                    color: $leatter;
                    width: 100%;
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    gap: .3125em;
                    margin-top: .75em;
                    margin-bottom: .75em;
                    li{
                        font-size: .875em;
                        color: $leatter;
                        font-weight: bold;
                        border-radius: .25em;
                        background-color: $tag;
                        padding: .375em .625em;
                        cursor: default;
                    }
                }
                a{
                    @include button($blue,$white );
                    
                }
        }

    }

}


// html code 

//   <div class="container-post">
  
//     <!-- FILTRE  -->
//     <input type="radio" id="all" name="categories" value="all" checked>
//     <input type="radio" id="HTML" name="categories" value="HTML">
//     <input type="radio" id="CSS" name="categories" value="CSS">
//     <input type="radio" id="JS" name="categories" value="JS">
//     <input type="radio" id="PHP" name="categories" value="PHP">
//     <input type="radio" id="other" name="categories" value="other">

//     <div class="container-category">

//         <label for="all">All</label>
//         <label for="HTML">HTML</label>
//         <label for="CSS">CSS</label>
//         <label for="JS">JS</label>
//         <label for="PHP">PHP</label>
//         <label for="other">other</label>
        
//     </div>


//         <div class="posts">

//         <div class="post" data-category="HTML">
//             <div class="ctn-img">
//                 <img src="./src/media-blog/how-page-html-css.jpg" alt="" srcset="">
//             </div>
//             <h2>How To Create a page web with Html & Css </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>HTML</li>
//                 <li>CSS</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

//         <div class="post" data-category="JS">
//             <div class="ctn-img">
//                 <img src="./src/media-blog/code-js.jpg" alt="" srcset="">
//             </div>
//             <h2>How To Learn Js & PHP </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>JS</li>
//                 <li>PHP</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

//         <div class="post" data-category="CSS">
//             <div class="ctn-img">
//                 <img src="./src/media-blog/code-css.jpg" alt="" srcset="">
//             </div>
//             <h2>How To Learn CSS </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>CSS</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

//         <div class="post" data-category="HTML">
//             <div class="ctn-img">
//                 <img src="./src/media-blog/html.jpg" alt="" srcset="">
//             </div>
//             <h2>How To Learn HTML  </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>HTML</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

//         <div class="post" data-category="other" >
//             <div class="ctn-img">
//                 <img src="./src/media/slide-img3.jpg" alt="" srcset="">
//             </div>
//             <h2>How to decorate your house </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>other</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

//         <div class="post" data-category="other">
//             <div class="ctn-img">
//                 <img src="./src/media/slide-img4.jpg" alt="" srcset="">
//             </div>
//             <h2>How to sell and buy domestic </h2>
//             <span>26 February 2020 1:34 pm </span>
//             <ul class="ctn-tag">
//                 <li>other</li>
//             </ul>
//             <a href="#">Read More</a>
//         </div>

       
//    </div>
//    <!-- end container-post  -->
//    </div>

