

@import '../header';
@import 'search';
@import 'coverblog';
@import 'posts&filtre';
@import '../footer';
@import '../btn-up-top';

$white:#ffffff;
$black:#000;
$leatter:#212529;
$red:#d00000;
$blue:#0466c8;

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    &::-webkit-scrollbar{
        background-color: $white;
        width: .75em;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $blue;
        border-radius: .75em;
    }
}



@media (max-width:700px) {
    body{
        font-size: 15px;
    }
}

@media (max-width:500px) {
    body{
        font-size: 14px;
    }
}


